.cont-form-contacto{
    display: flex;
    justify-content: center;

    .form-contacto{
        background-color: #f6d4f2;
        border-radius: 15px;
        font-family: 'Cabin', sans-serif;
        font-size: 22px;
        width: 50%;
        box-shadow: 2px 5px 20px black;
        margin-top: 100px;

        .contacto{
            padding: 10px;
            overflow: hidden;
        
        }
    }
}

.contacto label, .contacto input ,.contacto textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.contacto input:not([type="submit"]), .contacto textarea{
    border: none;
    border-bottom: 2px solid rgb(201, 198, 198);
    background-color: #f6c8f1;
    margin-bottom: 10px;
    outline: none;
}

.contacto textarea{
    min-height: 50px;
    max-height: 170px;
    min-width: 100%;
    max-width: 100%;
}

input[type="submit"]{
    padding: 10px;
    border: none;
    background-color: #D08FC8;
    color: black;
    font-size: 22px;
    cursor: pointer;
}


@media (max-width: 768px){

    .cont-form-contacto{
        .form-contacto{
            margin-top: 90px;
            font-size: 13px;
            width: 60%;
            height: auto;
        }
    }
    
    .cont-form-contacto{
        display: flex;
        justify-content: center;
    }

    .contacto textarea{
        min-height: 30px;
        max-height: 80px;
        min-width: auto;
    }

    input[type="submit"]{
        font-size: 13px;
    }
}